<div class="container-fluid py-2 border-bottom navbar-background fixed-top">
	<div class="d-flex justify-content-between">
		<div class="d-flex">
			<img class="rounded-circle me-2" src="images/suyash.webp" width="44" height="44" alt="Banner Photo" loading="lazy" />
			<div class="d-flex flex-column">
				<div class="avatar-name">
					Suyash Jawale
				</div>
				<div class="d-flex align-items-center">
					<div class="boxContainer d-flex justify-content-between me-2">
						<div class="box" [ngClass]="{'box1': musicPlayer.currentSong().playingSong}"></div>
						<div class="box" [ngClass]="{'box2': musicPlayer.currentSong().playingSong}"></div>
						<div class="box" [ngClass]="{'box3': musicPlayer.currentSong().playingSong}"></div>
						<div class="box" [ngClass]="{'box4': musicPlayer.currentSong().playingSong}"></div>
						<div class="box" [ngClass]="{'box5': musicPlayer.currentSong().playingSong}"></div>
					</div>	
					<div class="text-small">
						{{musicPlayer.currentSong().songName}}
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-transparent px-0 border-0 shadow-none" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#menu" aria-controls="menu" name="menu">
			<svg fill="#ffffff" width="1.9rem" height="1.9rem" viewBox="0 0 64 64" data-name="Layer 1" id="Layer_1"
				xmlns="http://www.w3.org/2000/svg">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<title></title>
					<path d="M21.86,18.73H9.18a2,2,0,0,1,0-4H21.86a2,2,0,0,1,0,4Z"></path>
					<path d="M54.82,18.73H34.88a2,2,0,0,1,0-4H54.82a2,2,0,0,1,0,4Z"></path>
					<path d="M54.82,34H9.18a2,2,0,0,1,0-4H54.82a2,2,0,0,1,0,4Z"></path>
					<path d="M54.82,49.27H30.07a2,2,0,0,1,0-4H54.82a2,2,0,0,1,0,4Z"></path>
				</g>
			</svg>
		</button>
	</div>
</div>

