<app-s-navbar />
<div class="top-marginal-height container-fluid">

    <div class="pt-4 d-flex gap-2 align-items-center justify-content-center">
        <div>
            <svg width="1.6rem" height="1.6rem" viewBox="0 0 24.00 24.00" id="Layer_1" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none;
                                stroke: #ffffff;
                                stroke-miterlimit: 10;
                                stroke-width: 1.128;
                            }

                            .cls-2 {
                                fill: #ffffff;
                            }
                        </style>
                    </defs>
                    <rect class="cls-1" x="1.5" y="1.5" width="21" height="16.23" rx="1.91"></rect>
                    <polygon class="cls-1" points="15.82 22.5 8.18 22.5 9.14 17.73 14.86 17.73 15.82 22.5"></polygon>
                    <line class="cls-1" x1="5.32" y1="22.5" x2="18.68" y2="22.5"></line>
                    <circle class="cls-2" cx="12" cy="14.86" r="0.95"></circle>
                </g>
            </svg>
        </div>
        <div class="font-w-500">
            Experience
        </div>
    </div>
    <div style="margin-left: -0.3rem;" class="pt-3">

        @for (org of organizations(); let i = $index; track i) {
        <div class="d-flex">
            <div class="border-start border-top ps-3 align-self-end"
                style="margin-left: 0.473rem; margin-bottom: -0.8rem; height: 3.25rem;">
            </div>
            <div class="rounded-2 d-flex bg-white align-items-center justify-content-center org-logos mb-3">
                <img src="tcs_logo.png" class="img-fluid" />
            </div>
            <div class="ms-2">
                <div style="font-weight: 500;">
                    {{org.org_name}}
                </div>
                <div class="text-small">Apr 2023 - Present &nbsp;·&nbsp; 4 yrs 8 mos</div>
            </div>
        </div>

        @for (role of org.roles; let j = $index; track j) {
        <div class="d-flex gap-2 align-items-center" [ngStyle]="{'margin-top': j>0 ? '-0.55rem' : '0rem' }">
            <div>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                    data-view-component="true" class="octicon octicon-dot-fill">
                    <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z" fill="#495057"></path>
                </svg>
            </div>
            <div class="font-w-500">{{role.role_name}}</div>
        </div>
        <div class="border-start  pb-4" style="margin-top:-0.9rem; margin-left: 0.473rem;">
            <div class="ms-3 pt-3 text-small">
                <div>
                    Apr 2023 &nbsp;-&nbsp; Present &nbsp;•&nbsp; 1 yrs 8 mos
                </div>
                @if(role.tag_line.length>0){
                <div class="mt-2 text-small">
                    {{role.tag_line}}
                </div>
                }

                @for (proj of role.projects; let k = $index; track k) {

                <div class="bg-custom-shade p-3 rounded mb-3 position-relative mt-2">
                    <div class="font-w-500 mb-2">{{proj.project_name}}</div>
                    <div>
                        <div>{{proj.project_content[0]}}</div>
                        <div class="collapse" id="collapseExample">
                            @for (content of proj.project_content; let l = $index; track l) {
                            @if(l>0){
                            <div class="mt-2">
                                {{content[l]}}
                            </div>
                            }
                            }
                        </div>
                    </div>
                    <span data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample" (click)="proj.show=!proj.show"
                        class="position-absolute top-100 translate-middle" style="left: 93%;">
                        @if(proj.show){
                        <svg width="20px" height="20px" viewBox="0 0 24.00 24.00" fill="none"
                            xmlns="http://www.w3.org/2000/svg" transform="rotate(180)">
                            <g id="SVGRepo_bgCarrier" stroke-width="0">
                                <rect x="0" y="0" width="24.00" height="24.00" rx="12" fill="#00ff6e" strokewidth="0">
                                </rect>
                            </g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                                    fill="#0F0F0F"></path>
                            </g>
                        </svg>
                        }
                        @else{
                        <svg width="20px" height="20px" viewBox="0 0 24.00 24.00" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0">
                                <rect x="0" y="0" width="24.00" height="24.00" rx="12" fill="#00ff6e" strokewidth="0">
                                </rect>
                            </g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                                    fill="#0F0F0F"></path>
                            </g>
                        </svg>
                        }
                    </span>
                </div>
                }


            </div>

        </div>
        }

        }



    </div>


</div>